@use '../vars' as *;

footer {
  position: fixed;
  font-size: 18px;
  right: 0;
  bottom: 0;
  width: max-content;
  padding: 15px 20px;
  background: rgba($color: #000, $alpha: 0.5);
  backdrop-filter: blur(5px);
  border-top-left-radius: 25px;
  color: $fg;
  text-align: left;

  .icons {
    $sz: 20px;
    $g: 5px;

    display: inline-flex;
    width: calc(($sz * 2) + $g);
    height: $sz;
    gap: $g;

    a {
      text-decoration: none;
      width: $sz;
      height: $sz;
      transform: scale(1.1);
      transition-property: transform;
      &:hover {
        transform: scale(1.35);
      }

      svg {
        width: 100%;
        height: 100%;
        fill: $fg;
        vertical-align: middle;
      }
    }
  }
}