@use '../vars' as *;


.char {
  width: 100%;
  margin: 15px 0;
  a {
    opacity: 1;
    filter: saturate(100%);
    transition-property: opacity, filter;
    &:hover {
      opacity: .5;
      filter: saturate(75%)
    }
    img {
      width: calc(25% - 8px);
      height: auto;
      aspect-ratio: 16/9;
      margin: 4px;
    }
  }
}