@use '../vars' as *;


.char {
  width: 100%;
  margin: 15px 0;
  a {
    $m: 4px;
    display: inline-block;
    width: calc(25% - ($m * 2));
    height: 270px;
    margin: $m;

    animation: animUp 1s forwards ease-in-out;
    opacity: 0;

    filter: saturate(100%) opacity(100%);
    transition-property: filter;
    &:hover {
      filter: saturate(75%) opacity(50%)
    }
    img {
      width: 100%;
      height: 100%;
      aspect-ratio: 16/9;
    }
  }
}