#links {
  display: grid;
  gap: 10px;
  text-align: center;
  margin-bottom: 15px;
  
  .cap {
    font-weight: bold;
    text-transform: uppercase;
  }

  a {
    width: 50%;
    margin: 0 auto;

    font-size: 22px;
    color: #fff;
    background: #555;
    border: 3px solid #ccc;
    padding: 5px;
    text-decoration: none;

    transition-property: background, width;
    transition-duration: 200ms;
    transition-timing-function: ease;
    border-radius: 15px;
    &:hover {
      width: 60%;
      background: #333;
    }
  }
}