@use '../vars' as *;


#socials {
  --sz: 42px;
  --g: 20px;

  display: flex;
  margin: 10px auto 0;
  height: var(--sz);
  text-decoration: none;
  position: relative;
  gap: var(--g);

  width: calc(var(--c) * (var(--sz) + var(--g)) - var(--g));
  // calculate the amount of items multiplied by ( their size plus the gap ) and then take away a gap
  // eg: (42 + 20 = 62) | (5 * 62 = 310) | (310 - 20 = 290)
  // --c is defined in the `SocialIcns.astro file
  // this could just be hard coded tbh

  a {
    display: inline-block;
    text-decoration: none;
    width: var(--sz);
    height: var(--sz);
    transform: scale(1);
    transition-property: transform;
    &:hover {
      transform: scale(1.25);
    }

    svg {
      vertical-align: middle;
    }
  }
}