@use '../vars' as *;


.spotify {
  $icnsz: 38px;

  display: flex;
  margin: 10px auto;
  width: 75%;
  height: $icnsz;
  font-size: 22px;

  justify-content: center;
  align-items: center;
  gap: 10px;

  opacity: 1;
  filter: grayscale(0%);
  @include transition(opacity, filter);

  &.dim {
    opacity: .5;
    filter: grayscale(50%);
    .icon:hover { transform: none }
  }

  .icon {
    width: $icnsz;
    height: $icnsz;
    background: #000;
    border-radius: 50%;
    transition: transform 200ms ease;
    &:hover {
      transform: scale(1.2);
    }

    .link {
      display: block;
      width: $icnsz;
      height: $icnsz;
    }
  }
  .txt {
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}