@mixin SvgHover {
  &:hover {
    svg {
      transform: scale(1.2);
    }
  }
  svg {
    transform: scale(1);
    transition: transform 200ms ease;
  }
}

@mixin mobile {
  @media screen and (max-width: 500px) {
    @content;
  }
}