@use './mobile' as *;


main { width: 50%; text-align: center; margin: 0 auto; }


.item {
  &:first-of-type { margin-top: 15px; }
  padding: 40px 0;
  .title { font-size: 1.25em; margin: 10px 0; }
  video, img { width: 100%; height: auto; }
  .info {
    position: relative;
    top: -7px;

    > div { background: hsl(from var(--bg) h s calc(l / 2)); padding: 5px 10px; }
    .date { float: left; }
    .link { float: right; }
  }
}


@include mobile {
  main { width: 100%; }
  .item { .info { font-size: .75em; } }
}