@use './extras' as *;


#cont {
  width: 75%;
  text-align: center;
  margin: 0 auto;
}


#item {
  margin: 25px 0 50px;
  &.mixamo {
    &:last-child { margin: 0 0 50px };
    margin: 0;
  }
  .title {
    font-weight: bold;
    font-size: 32px;
    margin: 5px 0;
  }
}

.sep {
  width: 75%;
  height: 3px;
  margin: 0 auto;
  background: var(--fg2);
}


@include mobile {
  #cont { width: 90vw; }
  #item {
    .title { font-size: 28px; }
    &.mixamo img { margin: 0 2px !important; }
  }
}