@use './mobile' as *;


main { width: 80%; margin: 0 auto; text-align: center; }


#lr {
  $g: 20px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: $g;
  margin: 20px 0;
  font-size: 1.25em;
  height: max-content;

  .column {
    width: calc(50% - ($g / 2));
    height: 100%;
    padding: 5px 0 15px;
    box-sizing: border-box;
    background: hsl(from var(--bg) h s calc(l - 1));
    border: 5px solid var(--fg);
    border-radius: var(--radius);

    .title {
      font-weight: bold;
      text-transform: uppercase;
      border-bottom: 2px solid var(--fg);
    }

    .info { div { margin: 2px 0; } }
    
    .sep {
      width: 50%;
      height: 3px;
      margin: 35px auto 15px;
      border-top: 2px dashed hsl(from var(--fg) h s l)
    }

    .gallery {
      display: flex;
      flex-wrap: wrap;
      align-items:  center;
      justify-content: space-evenly;
      gap: 10px 5px;
      img {
        width: 30%;
        height: auto;
        background: hsl(from var(--bg) h s calc(l + 1));
        border: 2px solid var(--fg);
        border-radius: 15px;
        box-sizing: border-box;
      }
    }
  }
}


@include mobile {
  #lr {
    display: block;
    font-size: 1em;
    .column {
      width: 100%;
      margin: 20px 0;
      .gallery { img { width: 40%; } }
    }
  }
}