#cont {
  width: 512px;
  padding-top: 50px;

  img {
    width: 45%;
    height: auto;
    aspect-ratio: 1/1;
    border-radius: 50%;
    outline: 5px solid var(--ctp-green);
  }

  .names {
    margin-top: 5px;

    .first {
      font-weight: bold;
      font-size: 30px;
    }
    .user {
      font-size: 25px;
      font-style: italic;
    }
  }
}