@use './mobile' as *;


main { width: 50%; margin: 0 auto; padding-top: 100px; }

#pfp {
  position: relative;
  width: max-content;
  margin: 0 auto;
  text-align: center;

  img {
    position: relative;
    display: block;
    width: 256px;
    height: auto;
    aspect-ratio: 1/1;
    border: 5px solid var(--acc);
    border-radius: var(--radius);
    box-sizing: border-box;
    z-index: 2;
  }

  .listening {
    position: absolute;
    top: 0;
    left: 90%;
    font-size: 0.8em;
    background: hsl(from var(--bg) h s calc(l / 2));
    padding: 5px 15px 5px 30px;
    border-radius: 0 var(--radius) var(--radius) 0;
    z-index: 1;
    display: flex;
    align-items: center;
    white-space: nowrap;
    z-index: 1;

    a {
      &:hover svg { fill: var(--acc); }
      display: inline-block;
      border-right: 1px var(--fg) solid;
      width: 1.2em;
      height: 1.2em;
      margin: 0 5px 0 0;
      padding: 0 5px 0 0;
      svg {
        fill: var(--fg);
        width: 100%;
        height: 100%;
        transition: fill var(--trans);
      }
    }
    span {
      display: inline-block;
      max-width: 450px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}

.txt {
  text-align: center;
  .fn { font-size: 1.5em; font-weight: bold; }
  .un { font-size: .85em; }
  .b { font-size: .75em; }
}

.links {
  width: 40%;
  font-size: .85em;
  text-align: center;
  margin: 25px auto;
  padding: 5px;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  border: 2px solid var(--fg);
  border-radius: var(--radius);
  box-sizing: border-box;
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      margin: 5px;
      a {
        &[href="https://blog.invisyarcticfox.uk"] { font-weight: bold; }
        &.new {
          position: relative;
          left: 9px;
          text-decoration: none;
          &::after {
            content: "(!)";
            color: #f00;
            vertical-align: top;
            font-size: .75em;
            position: relative;
            left: 1px;
          }
          span:hover { text-decoration: underline; }
        }
      }
    }
  }
}


footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  font-size: .75em;
  padding: 10px;
  opacity: .75;
  .commit {
    a {
      background: hsl(from var(--bg) h s calc(1 + 15));
      padding: 2px 5px;
      border-radius: 10px;
      border: 2px solid var(--fg);
    }
    font-family: monospace;
  }
  a {
    svg {
      width: 24px;
      height: 24px;
      vertical-align: middle;
      fill: currentColor;
    }
  }
}


@include mobile {
  main { width: 100%; padding-top: 50px; }
  #pfp {
    width: 50%;
    img { width: 100%; }
    .listening { display: none !important; }
  }
  .links { width: 85%; }
  footer { display: none; }
}