$bg: #141414;
$fg: #fff;
$g1: #222;

::selection {
  color: $bg;
  background: $fg;
}


body {
  margin: 0;
  padding: 0;
  color: $fg;
  background: $bg;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;

  @supports not (-moz-appearance: none) {
    background: linear-gradient(
      90deg,
      $bg 0%,
      $g1 35%,
      $g1 65%,
      $bg 100%
    );
  }
}