@use './mobile' as *;


.art {
  $m: 5px;
  display: inline-block;
  position: relative;
  width: calc(25% - ($m * 2));
  vertical-align: middle;
  margin: 0 $m 50px;
  overflow: hidden;
  
  img {
    display: block;
    background-size: contain;
    width: 100%;
    height: auto;
    border-radius: var(--radius);
  }

  .artist {
    --r: calc(var(--radius) - 2px);
    position: absolute;
    font-weight: bold;
    font-size: .9em;
    text-align: left;
    padding: 10px 15px;
    left: 0;
    bottom: 0;
    background: hsl(from var(--bg) h s calc(l * 2) / .75);
    backdrop-filter: blur(5px);
    border-radius: 0 var(--r);
  }
}


@include mobile {
  .art {
    width: 100%;
    .info { font-size: .6em; }
  }
}