@use './extras' as *;

#cont {
  text-align: left;
  width: calc(100% - 50px);
}

.art {
  $m: 5px;
  display: inline-block;
  position: relative;
  width: calc(25% - ($m * 2));
  vertical-align: middle;
  margin: 0 $m 50px;

  opacity: 0;
  animation: animUp 1s forwards ease-in-out;
  
  img {
    display: block;
    background-size: contain;
    width: 100%;
    height: auto;
  }
  .cap {
    position: absolute;
    font-size: 22px;
    font-weight: bold;
    text-align: left;
    padding: 10px;
    left: 0;
    right: 0;
    bottom: 0;
    background: color-mix(in srgb, var(--bg) 75%, transparent);
    backdrop-filter: blur(5px);

    .url {
      float: left;
      a {
        text-decoration: none;
        @include SvgHover;
        svg {
          position: relative;
          width: 25px;
          height: 25px;
          vertical-align: middle;
          bottom: 2px;
          margin-right: 2px;
        }
      }

    }
    .date {
      float: right;
    }
  }

  @include mobile {
    & {
      width: calc(100% - ($m * 2));
    }
    .cap {
      font-size: 18px;
    }
  }
}