:root {
  --ctp-rosewater: #f5e0dc;
  --ctp-rosewater-rgb: 245 224 220;
  --ctp-flamingo: #f2cdcd;
  --ctp-flamingo-rgb: 242 205 205;
  --ctp-pink: #f5c2e7;
  --ctp-pink-rgb: 245 194 231;
  --ctp-mauve: #cba6f7;
  --ctp-mauve-rgb: 203 166 247;
  --ctp-red: #f38ba8;
  --ctp-red-rgb: 243 139 168;
  --ctp-maroon: #eba0ac;
  --ctp-maroon-rgb: 235 160 172;
  --ctp-peach: #fab387;
  --ctp-peach-rgb: 250 179 135;
  --ctp-yellow: #f9e2af;
  --ctp-yellow-rgb: 249 226 175;
  --ctp-green: #a6e3a1;
  --ctp-green-rgb: 166 227 161;
  --ctp-teal: #94e2d5;
  --ctp-teal-rgb: 148 226 213;
  --ctp-sky: #89dceb;
  --ctp-sky-rgb: 137 220 235;
  --ctp-sapphire: #74c7ec;
  --ctp-sapphire-rgb: 116 199 236;
  --ctp-blue: #89b4fa;
  --ctp-blue-rgb: 137 180 250;
  --ctp-lavender: #b4befe;
  --ctp-lavender-rgb: 180 190 254;
  --ctp-text: #cdd6f4;
  --ctp-text-rgb: 205 214 244;
  --ctp-subtext1: #bac2de;
  --ctp-subtext1-rgb: 186 194 222;
  --ctp-subtext0: #a6adc8;
  --ctp-subtext0-rgb: 166 173 200;
  --ctp-overlay2: #9399b2;
  --ctp-overlay2-rgb: 147 153 178;
  --ctp-overlay1: #7f849c;
  --ctp-overlay1-rgb: 127 132 156;
  --ctp-overlay0: #6c7086;
  --ctp-overlay0-rgb: 108 112 134;
  --ctp-surface2: #585b70;
  --ctp-surface2-rgb: 88 91 112;
  --ctp-surface1: #45475a;
  --ctp-surface1-rgb: 69 71 90;
  --ctp-surface0: #313244;
  --ctp-surface0-rgb: 49 50 68;
  --ctp-base: #1e1e2e;
  --ctp-base-rgb: 30 30 46;
  --ctp-mantle: #181825;
  --ctp-mantle-rgb: 24 24 37;
  --ctp-crust: #11111b;
  --ctp-crust-rgb: 17 17 27;
}