a.noline {
  &:hover { text-decoration: underline; }
  text-decoration: none;
}

.head {
  --w: 15%;
  &::after {
    content: "";
    display: block;
    position: relative;
    width: var(--w);
    height: 2px;
    background: var(--fg);
    top: 0;
    left: calc(50% - (var(--w) / 2));
  }
  font-size: 1.5em;
  font-weight: bold;
  margin: 10px 0;
  text-align: center;
}