@import url('./catppuccin.css');


:root {
  --bg: var(--ctp-mocha-crust);
  --bg2: var(--ctp-mocha-base);
  --fg: var(--ctp-mocha-text);
  --fg2: var(--ctp-mocha-subtext0);
  --acc: var(--ctp-mocha-green)
}

@media (prefers-color-scheme: light) {
  :root {
    --bg: var(--ctp-latte-crust);
    --bg2: var(--ctp-latte-base);
    --fg: var(--ctp-latte-text);
    --fg2: var(--ctp-latte-subtext0);
    --acc: var(--ctp-latte-green)
  }
}


::selection {
  color: var(--bg);
  background: var(--fg);
}


body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 28px;
  color: var(--fg);
  background: var(--bg);
}

a {
  color: var(--fg);
  transition: color 200ms ease;
  &:hover {
    color: var(--acc);
  }
}


@keyframes animUp {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}