---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import avt from "@/assets/avatar.png";
---

<Layout>
  <div class="error">
    <Image
      src={avt} alt={'avt'}
      width={256} loading={'eager'}
      quality={'high'}
    />
    <p class="err"><b>404: Not found</b></p>
    <p class="path">Path: <span>/404</span></p>
  </div>
</Layout>

<style is:inline>
  .error {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 85vh;
    text-align: center;
  }
  img {
    height: auto;
    border-radius: 25%;
    border: 5px #555 solid;
    filter: saturate(50%);
  }
  p {
    margin: 5px 0;
    font-size: 30px;
  }
  .path {
    font-size: 25px;
    background: #333;
    padding: 5px 10px;
    border-radius: 10px;
    border: 2px #555 solid;
  }
  .path span {
    font-family: monospace;
    font-weight: bold;
  }
  footer { display: none; }
</style>

<script is:inline>
  const urlPth = window.location.pathname
  console.log(urlPth)
  document.querySelector('.path span').textContent = urlPth
  document.title = `ERR 404 (${urlPth})`
</script>