---
import Layout from '@/layouts/Layout.astro'
import BlenderVideo from '@/components/BlenderVideo.astro'

import '@/styles/animations.scss'
---

<Layout title={'animations'}>
  <div class='head'>Blender Animations</div>

  <BlenderVideo src={'invisy/interview.mp4'} title={'I mean I\'m gay.'} ytId={'Vbqh0vXaRLw'} date={'13th October 2025'} />
  <BlenderVideo src={'invisy/breen.mp4'} title={'Breen Fucking Loses It'} ytId={'uGc5_7zHzDU'} date={'25th August 2025'} />
  <BlenderVideo src={'invisy/yukopi.mp4'} title={'Yukopi - Powerful Wind'} ytId={'D6DVTLvOupE'} date={'13th July 2025'} />
  <BlenderVideo
    src={'misc/carchase.mp4'}
    title={'Car chase test'}
    date={'5th April 2025'}
    links={[
      { txt: 'RBC Addon by aka studios', link: 'https://superhivemarket.com/products/rbc-addon' },
      { txt: 'camera shakify by ian hubert', link: 'https://extensions.blender.org/add-ons/camera-shakify' }
    ]}
  />
</Layout>