---
import Layout from '@/layouts/Layout.astro'
import ArtVideo from '@/components/ArtVideo.astro'
import ArtMixamo from '@/components/ArtMixamo.astro'

import '@/styles/animations.scss'
---

<Layout title='animations'>
  <ArtVideo
    title='Lip sync test with Fennix voice lines'
    src='invisy/fennix.mp4' width={45}
    ytId='hZL3odpFyyU'
  />
  <ArtVideo
    title='Three of the hardest things for people to say'
    src='invisy/sauce.mp4' width={65}
    ytId='ajl42INodxA'
  />
  <ArtVideo
    title='Im really excited for the new movie!'
    src='invisy/newmovie.mp4' width={65}
    ytId='LyUtEVZJePs'
  />
  <ArtVideo
    title='Crunchy marshmellow'
    src='invisy/marsh.mp4' width={65}
    ytId='8jgzzjOTWFw'
  />

  <ArtVideo title='Car chase test' src='misc/carchase.mp4' width={65}>
    <div>car models from <a href='https://blendermarket.com/products/rbc-addon'>RBC</a> by aka studios</div>
    <div>also used <a href='https://extensions.blender.org/add-ons/camera-shakify/'>camera shakify</a></div>
  </ArtVideo>

  <div class='sep' />

  <div id='item' style={{ margin: '15px 0'}}>
    <video src='https://cdn.invisyarcticfox.uk/work/mixamo/m_throwc.mp4' width='49%' controls />
    <video src='https://cdn.invisyarcticfox.uk/work/mixamo/m_throwp.mp4' width='49%' controls />
  </div>

  <ArtMixamo flnm='mixamo/m_phone' count={3} />
  <ArtMixamo flnm='mixamo/m_string' count={3}>
    model and mocap from <a href='https://www.mixamo.com'>mixamo</a>
  </ArtMixamo>
</Layout>