---
import Layout from '@/layouts/Layout.astro'
import Fort from '@/components/Fort.astro'
import '@/styles/comps/fort.scss'

type charInfo = {
  char: string;
  names: string[];
  stDelIn: number;
}[]

const res = await fetch('https://api.invisyarcticfox.uk/fortography')
const charData:charInfo = await res.json()

const d = 100
let imgIndex = 0
---

<Layout>
  <div id='cont'>
    {
      charData.map((info) => (
        <div class={`char ${info.char}`}>
          {
            info.names.map((name, index) => {
              const delInd = (info.stDelIn || 0) + index + 1
              const egrLdCount = imgIndex < 12
              imgIndex++
              return (
                <Fort
                  char={info.char}
                  name={name}
                  egrLd={egrLdCount}
                  delay={info.stDelIn === 100 ? undefined : d * delInd}
                />
              )
            })
          }
        </div>
      ))
    }
  </div>
</Layout>