---
import Layout from '@/layouts/Layout.astro'
import BoxLinks from '@/components/BoxLinks.astro'
import { Image } from 'astro:assets'
import * as icn from 'simple-icons'
import type { Links } from '@/types'
import avt from '@/assets/avatar.png'
import '@/styles/index.scss'

const socLinks:Links[] = [
  { href: 'https://discord.com/users/470193291053498369', ...icn.siDiscord, isExt: true },
  { href: 'https://twitter.com/invisyarcticfox', cstmIcn: 'twitter', isExt: true },
  { href: 'https://bsky.app/profile/invisyarcticfox.uk', ...icn.siBluesky, isExt: true },
  { href: 'https://t.me/invisyarcticfox', ...icn.siTelegram, isExt: true },
  { href: 'https://blog.invisyarcticfox.uk', ...icn.siBrevo, title: 'blog', isExt: true },
  { href: 'mailto:lucas@invisyarcticfox.uk', ...icn.siMaildotru, title: 'email', isExt: true, },
]
const artLinks:Links[] = [
  { href: './sonaart', ...icn.siFurrynetwork , title: 'sona art',},
  { href: './animations', ...icn.siBlender, title: 'animations', },
  { href: 'https://instagram.com/lucasm.photography', ...icn.siInstagram, title: 'photography', isExt: true },
  { href: './fortography', title: 'fortography', cstmIcn: 'fortnite' },
]
---

<Layout title='index'>
  <div class='prof'>
    <Image src={avt} alt={'avt'} width={256} loading={'eager'} quality={'high'}/>
    <div class='names'>
      <div class='first'>Lucas.</div>
      <div class='user'>@invisyarcticfox</div>
    </div>
  </div>
  <BoxLinks head='socials' links={socLinks} />
  <BoxLinks head='arts' links={artLinks} />
</Layout>