---
import Layout from '@/layouts/Layout.astro'
import BoxLinks from '@/components/BoxLinks.astro'

import { Image } from 'astro:assets'
import * as icn from 'simple-icons'

import avt from '@/assets/avatar.png'
import partypopper from '@/assets/partypopper.png'
import type { Links } from '@/types'
import '@/styles/index.scss'

const socLinks:Links[] = [
  { href: 'https://discord.com/users/470193291053498369', ...icn.siDiscord, isExt: true },
  { href: 'https://twitter.com/invisyarcticfox', cstmIcn: 'twitter', isExt: true },
  { href: 'https://bsky.app/profile/invisyarcticfox.uk', ...icn.siBluesky, isExt: true },
  { href: 'https://t.me/invisyarcticfox', ...icn.siTelegram, isExt: true },
  { href: 'https://blog.invisyarcticfox.uk', ...icn.siBrevo, title: 'blog', isExt: true },
  { href: 'mailto:lucas@invisyarcticfox.uk', ...icn.siMaildotru, title: 'email', isExt: true, },
]
const artLinks:Links[] = [
  { href: './sonaart', ...icn.siFurrynetwork , title: 'sona art',},
  { href: './animations', ...icn.siBlender, title: 'animations', },
  { href: 'https://instagram.com/lucasm.photography', ...icn.siInstagram, title: 'photography', isExt: true },
  { href: './fortography', title: 'fortography', cstmIcn: 'fortnite' },
]
---

<Layout title='index'>
  <div class='prof'>
    <div class="pfp">
      <Image
        class={'avt'} src={avt} alt={'avt'}
        width={256} loading={'eager'} quality={'high'}
        title={'pfp by @eutumned!'}
      />
      <Image
        class={'popper'} src={partypopper} alt={'popper'}
        width={64} loading={'eager'} quality={'mid'}
        title={'its my birthday!!'}
      />
    </div>
    <div class='names'>
      <div class='first'>Lucas.</div>
      <div class='user'>@invisyarcticfox</div>
    </div>
  </div>
  <BoxLinks head='social stuff' links={socLinks} />
  <BoxLinks head='cool arts' links={artLinks} />

  <script>
    const day = new Date()
    const isMayFourth = (day.getMonth() === 4 && day.getDate() === 4)
    // funny js, months are counted from 0 but dates arent :)
    console.log(isMayFourth)
    const popperImg = document.querySelector('.pfp .popper') as HTMLElement
    popperImg.style.visibility = isMayFourth ? 'visible' : 'hidden'
  </script>
</Layout>