---
import Layout from '../layouts/Layout.astro';
import Spotify from '../components/Spotify.astro';
import SocialIcns from '../components/SocialIcns.astro';
import Links from '../components/Links.astro';
import { Image } from 'astro:assets';

import avt from '../assets/avatar.png';
import '../styles/index.scss';

const aLinks = [
  { name: 'photography', link: 'https://instagram.com/lucasm.photography', isExt: true },
  { name: 'fortography', link: './fortography' },
  { name: 'animations', link: './blender' },
  { name: 'sona art', link: './sonaart' }
]
const bLinks = [
  { name: 'instagram', link: 'https://instagram.com/lucasm.photography', isExt: true },
  { name: 'last.fm', link: 'https://www.last.fm/user/invisyarcticfox', isExt: true },
  { name: 'steam', link: 'https://steamcommunity.com/id/invisyarcticfox', isExt: true },
  { name: 'letterboxd', link: 'https://boxd.it/8RngF', isExt: true }
]
---

<Layout>
  <div id='cont'>
    <div class='avt'>
      <Image
        src={avt} alt={'avt'}
        width={256} loading={'eager'} quality={'high'}
      />
      <div class='names'>
        <div class='first'>Lucas.</div>
        <div class='user'>@invisyarcticfox</div>
      </div>
    </div>
    <SocialIcns />
    <Spotify />
    <Links links={aLinks} cap='arts' />
    <Links links={bLinks} cap='socials' />
  </div>
</Layout>
