---
import Layout from '@/layouts/Layout.astro'
import BoxLinks from '@/components/BoxLinks.astro'
import { Image } from 'astro:assets'
import * as icn from 'simple-icons'
import { Volume2Icon } from 'astro-feather'
import type { Links } from '@/types'

import avt from '@/assets/avatar.png'
import '@/styles/index.scss'

const socLinks:Links[] = [
  { href: 'https://discord.com/users/470193291053498369', ...icn.siDiscord, isExt: true },
  { href: 'https://twitter.com/invisyarcticfox', ...icn.siTwitter, isExt: true },
  { href: 'https://bsky.app/profile/invisyarcticfox.uk', ...icn.siBluesky, isExt: true },
  { href: 'https://t.me/invisyarcticfox', ...icn.siTelegram, isExt: true },
  { href: 'https://instagram.com/lucas.mcq_/', ...icn.siInstagram, isExt: true },
  { href: 'mailto:lucas@invisyarcticfox.uk', ...icn.siMaildotru, isExt: true, title: 'email' },
]
const artLinks:Links[] = [
  { href: 'https://instagram.com/lucasm.photography', ...icn.siInstagram, title: 'photography', isExt: true },
  { href: './fortography', title: 'fortography', cstmIcn: 'fortnite' },
  { href: './blender', ...icn.siBlender, title: 'animations', },
  { href: './sonaart', ...icn.siFurrynetwork , title: 'sona art',},
]
---

<Layout>
  <div class='prof'>
    <Image src={avt} alt={'avt'} width={256} loading={'eager'} quality={'high'}/>
    <div class='names'>
      <div class='first'>Lucas.</div>
      <div class="ipa">ˈluːkəs <Volume2Icon /></div>
      <div class='user'>@invisyarcticfox</div>
    </div>
  </div>
  <BoxLinks head='social' links={socLinks} />
  <BoxLinks head='arts' links={artLinks} />
</Layout>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const elem = document.querySelector('.names .ipa svg')
    const aud = new Audio('/lucas.mp3')

    elem?.addEventListener('click', function () {
      aud.play()
    })
  })
</script>