---
import { Image } from 'astro:assets'

interface Props {
  flnm: string
  count: number
}
const { flnm, count = 1 } = Astro.props

const images = []

for (let i = 0; i < count; i++) {
  const src = `https://cdn.invisyarcticfox.uk/work/${flnm}${i + 1}.png`
  const alt = `${flnm}${i+1}`
  images.push({ src, alt })
}
---
<div id='item' class='mixamo'>
  {
    images.map((image) => (
      <Image
        src={image.src} alt={image.alt}
        inferSize loading={'lazy'}
        style={{ width: '32%', height: 'auto', margin: '0 5px' }}
        />
    ))
  }
  <div>
    <slot />
  </div>
</div>