---
import { Image } from 'astro:assets'

interface Props {
  title: string
  src: string
  width?: number
  portrait?: boolean
}
const { title, src, width } = Astro.props
---

<div class='item'>
  <div class='title'><b>{title}</b></div>
  <Image
    src={`https://cdn.invisyarcticfox.uk/work/${src}`}
    alt={src} inferSize loading={'lazy'}
    style={{ width: width ? `${width}%` : undefined }}
    />
  <div class='info'>
    <slot />
  </div>
</div>