---
interface Props {
  gear: {
    label: string
    name?: string
    content?: { name:string }[]
  }[]
}

const { gear } = Astro.props
---

{
  gear.map(({ label, name, content }) => (
    <div>
      {label}:
      { content ? (
        content.map(({ name }, i) => (
          <>
            <b>{name}</b>
            { i < content.length - 1 && ' & ' }
          </>
        ))
      ) : ( <b>{name}</b> ) }
    </div>
  ))
}