---
interface Props {
  href: string;
  title: string;
  icn: {
    path: string;
    hex: string;
  }
}

const { href, title, icn } = Astro.props
---

<a class="link" href={href} target="_blank" rel="noopener noreferrer">
  <svg viewBox="0 0 24 24">
    <title>{title.toUpperCase()}</title>
    <path d={icn.path} fill={`#${icn.hex}`}>
  </svg>
</a>