---
import type { LastFM } from '@/types'
import { siLastdotfm } from 'simple-icons'

const res = await fetch(`http://ws.audioscrobbler.com/2.0/?method=user.getrecenttracks&user=invisyarcticfox&api_key=${import.meta.env.LFM_API_TOKEN}&format=json`)
const { recenttracks: { track:[latest] } }:LastFM = await res.json()
const nowPlaying = latest['@attr']?.nowplaying === 'true' ? latest : null
---

{
  nowPlaying && (
    <div class='listening'>
      <a href={nowPlaying.url} target='_blank' rel='noopener noreferrer' set:html={siLastdotfm.svg} />
      <span><b>{nowPlaying.name}</b> by <b>{nowPlaying.artist['#text']}</b></span>
    </div>
  )
}