---
interface Props {
  links: {
    link: string
    txt: string
    ext?: boolean
  }[]
}
const { links } = Astro.props

const isExt = (link:string, ext?:boolean) => {
  if (ext !== undefined) return ext
  return !link.startsWith('./')
}
---

<ul>
  {
    links.map(({ link, txt, ext }) => {
      const external = isExt(link,ext)
      return (
        <li>
          <a
            href={link} target={ external ? '_blank' : undefined }
            rel='noopener noreferrer' class={'noline'}
          >
            {txt}
          </a>
        </li>
      )
    })
  }
</ul>