---
interface Props {
  links: {
    link: string
    txt: string
    ext?: boolean
  }[]
}
const { links } = Astro.props
---

<ul>
  {
    links.map(({ link, txt, ext=true }) => (
      <li>
        <a
          href={link}
          class={'noline'}
          target={ ext ? '_blank' : undefined }
          rel='noopener noreferrer'>
            {txt}
        </a>
      </li>
    ))
  }
</ul>