---
import '@/styles/comps/socialicns.scss'
import IcnLink from './IcnLink.astro';

interface Props {
  links: {
    href: string;
    path: string;
    hex: string;
    slug: string;
    name?: string;
  }[]
}
const { links } = Astro.props
---

<div id="socials">
  {
    links.map(({ href, path, slug, hex, name }) => (
			<IcnLink href={href} title={name || slug} icn={{ path, hex}} />
		))
  }  
</div>