---
import { siSpotify } from 'simple-icons';
import '@/styles/comps/spotify.scss';
import IcnLink from './IcnLink.astro';
---

<div class='spotify dim'>
  <div class='icon'>
    <IcnLink href='./' title={siSpotify.slug} icn={{ path: siSpotify.path, hex: siSpotify.hex}} />
  </div>
  <div class='txt'>not listening to anything :(</div>
</div>

<script lang='js'>
  async function updateSpotifyInfo() {
    try {
      const res = await fetch('https://lanyard.invisyarcticfox.uk/v1/users/470193291053498369');
      const { data: { spotify: data = null } } = await res.json();

      const spot = {
        div: document.querySelector('div.spotify'),
        link: document.querySelector('div.spotify a.link'),
        txt: document.querySelector('div.spotify div.txt'),
      };

      if (data) {
        spot.div.classList.remove('dim');
        spot.link.href = `https://open.spotify.com/track/${data.track_id}`;
        spot.txt.innerHTML = `"${data.song}" - <b>${data.artist.split(';')[0]}</b>`;
      } else {
      }
    } catch (error) {
      console.error('Error fetching data:', error);
    }
  }
  updateSpotifyInfo();
</script>
