---
import '../styles/master.scss'
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="shortcut icon" type="image/x-icon" href="/favicon.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{Astro.url}</title>
	</head>
	<body>
		<slot />
	</body>
</html>